:root {
  --background: #454545;
  --primary: #007cbe;
  --secondary: #00b377;
}

.header {
  background-color: var(--background);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 15vh;
  justify-content: center;
  padding: 0 1em 0 1em;
}

.container {
  text-align: center;
}

.img {
  height: 80vh;
  width: auto;
}

.img-url {
  width: 100%;
}

.btn {
  background-color: var(--background);
  border: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  text-decoration: none;
}

.btn-group {
  bottom: 0;
  display: grid;
  position: fixed;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 5vh;
}

.btn-copy {
  background-color: var(--primary);
  width: 30vw;
}

.btn-generate {
  background-color: var(--secondary);
  width: 70vw;
}

#url {
  width: 100vw;
}

@media (max-width: 600px) {
  .btn-group {
    grid-template-rows: 10vh;
  }

  .img {
    height: auto;
    width: 100vw;
  }

  #url {
    display: block;
    width: 50vw;
  }
}
