:root {
  --theme: #282c34; 
}

.header {
  background-color: var(--theme);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 15vh;
  padding: 0 1em 0 1em;
}

.img {
  width: 100vw;
}

.container {
  margin: 0 auto 0 auto;
  text-align: center;
  width: 90%;
}

.btn-next {
  background-color: var(--theme);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.5em;
  text-decoration: none;
}